* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
div:focus {
  outline: none;
}
.app {
  max-width: 500px;
  margin: 0 auto;
}
.player-container {
  margin-top: 0;
  transition: 0.5s margin-top, 0.5s opacity;
  opacity: 1;
}
.player-container.hidden {
  margin-top: -20vh;
  opacity: 0;
}
.playlist-container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.player {
  background: #fff;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.player-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.player-div {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}
.player-track {
  padding: .5em 0;
}
.player-track-title {
  font-size: 1.7em;
  margin-bottom: .5em;
}
.player-controls {
  display: flex;
}
.player-controls button {
  font-size: 1.3em;
  color: #555;
  margin-right: .5em;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
}
.player-controls-seekbar {
  flex: 4;
  min-width: 10px;
}
.player-controls-volumebar {
  flex: 1;
  max-width: 60px;
  min-width: 10px;
}
.player-controls-current-time,
.player-controls-duration {
  padding-left: .5em;
  padding-right: .5em;
}
.artists-list h2 {
  margin-top: 0;
}
.artists-list-item {
  font-size: 2em;
  text-transform: uppercase;
}
.artists-list-remove {
  display: none;
  background: none;
  border: none;
  color: #999;
  font-size: 1em;
  cursor: pointer;
  margin: 0;
  margin-left: .5em;
}
.artists-list-item:hover .artists-list-remove {
  display: inline-block;
}
.search-artists {
  margin-bottom: 1em;
}
.search-artists input {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  outline: unset;
  border: 1px solid #999;
  width: 100%;
  padding: .3em;
  border-radius: 5px;
}
.search-artists input::input-placeholder {
  color: #bbb;
}
.search-artists-prompt {
  text-align: center;
}
.search-artists-item:hover,
.search-artists-item.selected {
  background-color: #555;
  color: #eee;
}
.search-artists-item-disambiguation {
  margin-left: .5em;
  color: #999;
}
.tracks {
  display: none;
}
.search-artists-results {
  padding: 0;
  margin: 0 1em;
  border: 1px solid #999;
  list-style-type: none;
}
.search-artists-item {
  cursor: pointer;
  padding: .5em;
}
