.player {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.player-video {
  flex: 1;
}


.player-track {
  padding: 1em;
  text-align: center;
}

.player-next-track {
  text-align: right;
  font-size: .9em;
  color: #999;
  padding-right: 1em;
}