.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  color: #ddd;
  border-bottom: 1px solid #eee;
}

.app-name {
  font-size: 1.2em;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 1px solid;
}

main {
  flex: 1;
  display:flex;
  align-items: flex-start;
}

.artists-container {
  flex: 1;
  transition: flex .2s;
}

.player-container {
  flex: 1;
  transition: flex .2s;
}

.tracks {
  /*display: none;*/
}


.first-time .artists-container {
  flex: 1;
}

.first-time .player-container {
  overflow: hidden;
  flex: 0;
}


@media (max-width: 600px) {

  main {
    flex-direction: column;
    align-items: stretch;
  }

  .artists-container {
    width: auto;
  }

  .player-volume-icon,
  .player-volume-bar {
    display: none;
  }



}