.player {
  background: #fff;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
  width: 640px;
  margin: 1em auto;
}

.player-div {
  background: #000;
}

.player-track {
  padding: 1em;
}

.player-track-title {
  font-size: 1.7em;
  margin-bottom: .5em;
}

.player-controls {
  padding: 1em;
  display: flex;
}

.player-controls button {
  font-size: 1.3em;
  color: #555;
  margin-right: .5em;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
}

.player-controls-seekbar {
  flex: 4;
}

.player-controls-volumebar {
  flex: 1;
}

.player-controls-current-time,
.player-controls-duration {
  padding-left: .5em;
  padding-right: .5em;
}