.player {
  background: #fff;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.player-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.player-div {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

.player-source-title {
  color: @soft-text-color;
}

.player-track {
  padding: .5em 0;
}

.player-track-title {
  font-size: 1.7em;
  margin-bottom: .5em;
}

.player-controls {
  display: flex;
}

.player-controls button {
  font-size: 1.3em;
  color: #555;
  margin-right: .5em;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
}

.player-controls-seekbar {
  flex: 4;
  min-width: 10px;
}

.player-controls-volumebar {
  flex: 1;
  max-width: 60px;
  min-width: 10px;
}

.player-controls-current-time,
.player-controls-duration {
  padding-left: .5em;
  padding-right: .5em;
}

.next-track {
  text-decoration: none;
  color: @soft-text-color;

  &:hover {
    border-bottom: 1px solid;
  }
}