.search-artists {
  input {
    border: none;
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    outline: unset;
    color: @soft-text-color;

    &:focus {
      border-bottom: 2px solid;
    }

    &::input-placeholder {
      color: #bbb;
    }
  }
}

.tracks {
  display: none;
}